.popup {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup.hidden {
    display: none;
}

.popup-content {
    background: white;
    border: 2px solid #131313;
    padding: 20px;
    min-width: 600px;
    min-height: 500px;
    box-sizing: border-box;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

#rules-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 20px 0;
}